html, body {
    height: 100%;
    min-width: 240px;
}

.background {
    background-color: #c1c1c1;
    min-height: 100%;
}

.nav-item {
    color: #726666
}

.active {
    color: black !important;
    font-weight: bold;
}

.tab-content {

    padding: 15px;
}

.nav-tabs {
    border-bottom: none;

}


.navbar {
    background-color: #938d8d;
    box-shadow: 0 2px 10px #000000;
}

.top-distance {
    margin-top: 40px;
}

.center-button {
    display: flex !important;
    align-items: center;
}

hr {
    background-color: black;
}

.coffee {
    width: 80px;
}

.distanceBetweenCoffes {
    text-align: center;
}
.nav-bar-logout {
    color:#733c3c;
    font-weight: bold;
}